<%- include("partials/header.ejs") %>
    <% if(locals.tasks) {
        for(let i=0; i<tasks.length; i++) { %>
          <div class="d-flex justify-content-center">
            <div class="card mt-2 w-75 mx-5">
              <div class="card-body align-items-center d-flex">
                <div class="form-check flex-grow-1">
                  <input class="form-check-input" type="checkbox" value="">
                  <label class="form-check-label px-2">
                    <%= tasks[i] %>
                  </label>
                </div>
               
                <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
      <% } }%>
<%- include("partials/footer.ejs") %>