<%- include("partials/header.ejs") %>

  <div class="card mt-5 mx-5 ">
    <div class="card-body d-flex align-items-center">
      <p class="flex-grow-1 my-0">This is some text within a card body.</p>
      <button type="button" class="btn btn-success mx-2"><i class="fa fa-check"></i></button>
      <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
    </div>
  </div>

<%- include("partials/footer.ejs") %>